@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.ly_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #506172;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ly_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bl_slider {
  $track-width: 270px;
  $track-height: 4px;

  width: 300px;
  height: 40px;
  top: 180px;
  left: 50px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  &_range {
    -webkit-appearance: none;
    width: $track-width;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: $track-width;
      height: $track-height;
      cursor: pointer;
      transition: all 0.2s ease;
      background: #7ad175;
      border: none;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    }

    &::-webkit-slider-thumb {
      $thumb-height: 24px;

      border: 2px solid #7ad175;
      height: 24px;
      width: 24px;
      border-radius: 9999px;
      background: #fff url(http://100dayscss.com/codepen/slider-thumb.png)
        center center no-repeat;
      background-size: 50% 50%;
      cursor: pointer;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
      -webkit-appearance: none;
      margin-top: (($track-height) / 2) - ($thumb-height / 2);
    }
  }
}
