@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.ly_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #ea4c89;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ly_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.el_line {
  width: 224px;
  margin: 8px 0;
  height: 2px;
  background-color: #fff;
  animation: line 1s ease-out both;
}

.el_text {
  stroke: #ea4c89;
  stroke-width: 18;
  stroke-dasharray: 270;
  animation: fill 2.2s ease-in-out infinite both;

  & > path {
    fill: #fff;
  }
}

@keyframes line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fill {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 270;
  }
}
