<!-- index=45 -->
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.css")
    title 100days CSS Challenge
  body
    div.ly_frame
      each r in [...Array(6).keys()]
        div(class=`bl_ring bl_ring_${r}`)
          each d in [...Array(12).keys()]
            div(class=`bl_ring_dot bl_ring_dot_${d}`)
