@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.ly_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #27ae60;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bl_ring {
  $parent: &;
  $numberOfRings: 6;
  $numberOfDots: 12;
  $radius: 100;
  $dotsPerCircle: 12;
  $angle: 360 / $dotsPerCircle;

  position: absolute;
  width: ($radius * 2) + px;
  height: ($radius * 2) + px;
  top: ((400 - ($radius * 2)) / 2) + px;
  left: ((400 - ($radius * 2)) / 2) + px;

  &_dot {
    position: absolute;
    width: 10px;
    height: 10px;
    top: ($radius) + px;
    left: ($radius) + px;
    background: #fff;
    border-radius: 9999px;

    @for $i from 0 to $numberOfDots {
      &_#{$i} {
        $nullBase: $i - 1;
        $deg: ($nullBase * $angle) + deg;

        transform: translate3d(0, ($radius * -1) + px, 0) rotate($deg);
        transform-origin: 0 ($radius) + px;
      }
    }
  }

  @for $i from 0 to $numberOfRings {
    &_#{$i} {
      $nullBase: $i - 1;
      animation: inOut-#{$i} 6s ease-in-out alternate infinite;

      & > #{$parent}_dot {
        opacity: (1 - ($nullBase / 10));
      }
    }
  }

  @for $i from 0 to $numberOfRings {
    @keyframes inOut-#{$i} {
      $nullBase: $i - 1;
      0% {
        transform: scale(1 - ($nullBase / 7)) rotate(($nullBase * 5) + deg);
      }
      100% {
        transform: scale(1 - ($nullBase / 22))
          rotate((($nullBase * 10) + 360) + deg);
      }
    }
  }
}
