@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.ly_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes big {
  0% {
    z-index: 2;
    transform: scale(1);
  }
  100% {
    z-index: 2;
    transform: scale(3.0625);
  }
}

@keyframes small {
  0% {
    z-index: 2;
    transform: scale(3.0625);
  }
  99% {
    z-index: 2;
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}

.bl_images {
  $parent: &;

  padding: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &.active {
    #{$parent}_image:not(.active) {
      background: #000;

      & > img {
        opacity: 0;
      }
    }
  }

  &_image {
    width: 128px;
    height: 128px;
    margin: 2px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, z-index 0s linear 0.5s;
    animation: small 0.5s ease-in-out both;

    & > img {
      transition: opacity 0.5s ease-in-out;
    }

    &.active {
      animation: big 0.5s ease-in-out both;
    }

    &_1 {
      transform-origin: 0 0;
    }
    &_2 {
      transform-origin: 50% 0;
    }
    &_3 {
      transform-origin: 100% 0;
    }
    &_4 {
      transform-origin: 0 50%;
    }
    &_5 {
      transform-origin: 50% 50%;
    }
    &_6 {
      transform-origin: 100% 50%;
    }
    &_7 {
      transform-origin: 0% 100%;
    }
    &_8 {
      transform-origin: 50% 100%;
    }
    &_9 {
      transform-origin: 100% 100%;
    }

    & > img {
      width: 100%;
      object-fit: contain;
      aspect-ratio: 1 / 1;
    }
  }
}
